@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-background: #1f1f1f;
  --secondary-background: #373737;
  --button-color: #06cf9c;
  --button-secondary : #049c75;
  --login-form-color: #212121;
  --login-form-secondary: #1a1d21;
  --login-form-first: #1e2122;
  /* --banner-primary:#00e5ff; */
  --banner-primary:#06cf9c;
  --banner-secondary: #049c75;
  --banner-error-primary: #e22859;
  --banner-error-secondary: #e22859;
  --banner-info-secondary: #1f64c4;
  --banner-info-primary: #68cdfe;
}

@theme inline {
  --color-d-background : var(--default-background);
  --color-s-background : var(--secondary-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button-color);
  --color-button-secondary: var(--button-secondary);
  --color-login-form: var(--login-form-color);
  --color-l_f_s: var(--login-form-secondary);
  --color-l_f_f: var(--login-form-first);
  --color-banner-primary: var(--banner-primary);
  --color-banner-secondary: var(--banner-secondary);
  --color-banner-error-primary: var(--banner-error-primary);
  --color-banner-error-secondary: var(--banner-error-secondary);
  --color-banner-info-primary: var(--baner-info-primary);
  --color-banner-info-secondary: var(--baner-info-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
